<h1>動画アップロード</h1>

<div data-controller="upload">
  <input type="file" accept="video/mp4" data-upload-target="file">
  <button type="button" data-action="upload#start">アップロード</button>
  <p data-upload-target="message"></p>
</div>
